<body>
  <div class="jumbotron" style="height: 220px; background-color: rgb(3, 18, 61); color: #ddd">
  
      <h1><center>ONLINE TRANSACTION PORTAL</center></h1> 
      <p><center>A secure portal for payments via net banking.</center></p> 
  </div>
  <div class="container" style="min-height:500px;">