<%- include('header'); -%>
<%- include('container'); -%>
<body>
	<div class="container" style="background-image: url(https://www.yesbank.in/images/PersonalBanking_YESFirst_CreditCard_Animation_Image_Credit%20Card%20Animation.gif); background-repeat: no-repeat; background-size: cover; height: 400px; width: 730px;">   					
							<div class="col-sm-12 controls" style="left: 40%; top:10%;">
								<button id="btn-login" type="submit" class="btn btn-success"><a href="/signin" style="text-decoration: none; color: white;"><b>Login as a User</b></a></button>
							</div>
							<br><br>
							<div class="col-sm-12 controls" style="left: 40%; top:10%;">
								<button id="btn-login" type="submit" class="btn btn-success"><a href="/signup" style="text-decoration: none; color: white;"><b>Register as a new User</b></a></button>
							</div>
	</div>
<%- include('footer'); -%>